.bookPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 200vh;
}

.topSection {
  display: flex;
  justify-content: flex-end;
  width: 100vw;

  margin-left: 50px;
  margin-top: 150px;
}

.roster {
  display: grid;
  grid-column: 2;
  grid-row: 8;

  text-align: left !important;

  width: 50vw;
  min-height: 40vh;

  padding: 0;
  margin: 0;

  &Cell {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h4,
  p {
    padding: 0;
    margin: 0;
  }
}

.twoCols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.descr {
  &Cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    width: 90vw;
    margin-top: 150px;

    img {
      max-height: 200px;
      margin-right: 40px;
    }
  }

  &Images {
    display: flex;
    flex-direction: row;

    width: 40vw;
    margin-left: 40px;
    gap: 10px;
  }

  &Description {
    width: 50vw;
    margin-left: 20px;
  }
}

.Related {
  margin-left: 165px;
  margin-top: 200px;

  max-width: 85vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &Books {
    display: flex;
    flex-direction: row;
  }

  &Cont {
    display: flex;
    flex-direction: row;

    margin-top: 80px;
    align-items: flex-start;
  }
}
