.category {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;

  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;

  overflow-x: none;

  &Items {
    justify-items: center;

    img {
      width: 55%;
    }

    p {
      font-size: 18px;
      font-weight: 100;
    }
  }
}
