@font-face {
  font-family: "PPNeueBit";
  src: url("/fonts/PPNeueBit-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "PPMondwest";
  src: url("/fonts/PPMondwest-Regular.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueThin.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueMedium.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueLight.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueBold.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fons/HelveticaNeueBlack.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}
