@font-face {
  font-family: "PPNeueBit";
  src: url("/fonts/PPNeueBit-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "PPMondwest";
  src: url("/fonts/PPMondwest-Regular.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}
