@import "@/styles/variables";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $orange;
}

.padding {
  padding: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.twoCols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  gap: 6%;
  margin-top: 2%;
  width: 100vw;
  height: 100vh;
}
