@use "@/styles/variables";
@use "./font";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

h1,
h2,
h3 {
  color: #0e0e0e;
  font-family: "PPMondwest";
  font-weight: normal;
}

p,
a,
h3 {
  color: #0e0e0e;
  font-family: "Lato", sans-serif;
  text-align: left;
  font-weight: 300;
}

h1 {
  width: 100%;
  font-size: 220px;

  line-height: 1;
  margin: 0 auto;
}

h2 {
  font-size: 75px;
  text-align: left;
  line-height: 1;
}

h3 {
  font-size: 50px;
  font-weight: 300;

  text-align: left;
  line-height: 1;
}

h4 {
  font-size: 30px;
  font-weight: 100;

  text-align: left;
  line-height: 1;
}

p {
  font-size: 18px;
}

.categories {
  &Title {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 130px;
  }

  &Description {
    position: absolute;
    top: 40%;
    left: 6%;

    max-width: 45vw;
    font-size: 18px;
  }
}
