@use "@/styles/variables";
@use "./font";

h1,
h2,
h3 {
  color: white;
  font-family: "PPMondwest";
  font-weight: normal;
}

p,
a,
h3 {
  color: white;
  font-family: "HelveticaNeue";
  text-align: left;
}

h1 {
  width: 100%;
  font-size: 220px;

  line-height: 1;
  margin: 0 auto;
}

h2 {
  font-size: 180px;
  text-align: left;
  line-height: 1;
}

h3 {
  font-size: 30px;
  font-weight: 400;

  text-align: left;
  line-height: 1;
}

p {
  font-size: 18px;
}

.categories {
  &Title {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 130px;
  }

  &Description {
    position: absolute;
    top: 40%;
    left: 6%;

    max-width: 45vw;
    font-size: 18px;
  }
}
